.DashboardContainer{
   height: 100vh;
}

.DashboardContainer nav{
   background-color: #bdbdbd;
   border-bottom: 2px solid black;
   color: white;
   font-size: 1.3rem;
   height: 7%;
   padding: 0 1rem;

   display: flex;
   justify-content: space-between;
   align-items: center;
}
.DashboardContainer nav button{
   background: #f44336;
   border: 2px solid #d32f2f;
   color: white;
   cursor: pointer;
   font-size: .9rem;
   padding: .6rem;

   display: flex;
   justify-content: center;
   align-items: center;

   border-radius: .3rem;
   -webkit-border-radius: .3rem;
   -moz-border-radius: .3rem;
   -ms-border-radius: .3rem;
   -o-border-radius: .3rem;
}

.DashboardContainer section{
   width: calc(100% - 2rem);
   height: calc(93% - 2rem);
   margin: 1rem auto 0 auto;
   border: 2px solid #424242;
   border-radius:.6rem;
   -webkit-border-radius:.6rem;
   -moz-border-radius:.6rem;
   -ms-border-radius:.6rem;
   -o-border-radius:.6rem;
}
.sectionHeader{
   border-bottom: 1px solid gray;
   height: 7%;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.sectionHeader button{
   background-color: #28a745;
   color: white;
   cursor: pointer;
}
.sectionHeader button:nth-child(2){
   background-color: #dc3545;
   margin-left: .5rem;
   cursor: pointer;
}
.sectionHeader input{
   width: 40%;
}
.sectionHeader *{
   font-size: 1rem;
   padding: .5rem;

   border-radius: .3rem;
   -webkit-border-radius: .3rem;
   -moz-border-radius: .3rem;
   -ms-border-radius: .3rem;
   -o-border-radius: .3rem;
}
.sectionHeaderEdit{
   height: 8%;
   padding: .5rem;

   justify-content: flex-end;
}

.sectionHeaderEdit button{
   background-color: #dc3545;
   color: white;
   cursor: pointer;
   font-size: 1.3rem;
   font-weight: 900;
   height: 4.5vh;
   width: 4.5vh;
   max-height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
}

.sectionFooterEdit{
   border-top: 1.5px solid black;
   padding: .5rem;
   
   display: flex;
   justify-content: flex-end;
}
.sectionFooterEdit *{
   font-size: 1rem;
   padding: .5rem;

   border-radius: .3rem;
   -webkit-border-radius: .3rem;
   -moz-border-radius: .3rem;
   -ms-border-radius: .3rem;
   -o-border-radius: .3rem;
}

.sectionFooterEdit button{
   background-color: #28a745;
   color: white;
   cursor: pointer;
}
.sectionFooterEdit button:nth-child(2){
   background-color: #dc3545;
   cursor: pointer;
   margin-left: .5rem;
}

.articles{
   height: 93%;

   display: flex;
   justify-content: space-evenly;
   align-content: space-evenly;
   flex-wrap: wrap;
}

.article{
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   cursor: pointer;
   height: 40%;
   overflow: hidden;
   padding: 1rem;
   width: 30%;

   border-radius: .6rem;
   -webkit-border-radius: .6rem;
   -moz-border-radius: .6rem;
   -ms-border-radius: .6rem;
   -o-border-radius: .6rem;
}
.article span{
   font-size: .9rem;
}
div h2{
   text-align: center;
   margin-bottom: 1rem;
}
.articleEdit{
   height: 85%;
   
}
.title{
   border-bottom: 1.5px solid black;
   height: 10%;
   display: flex;
}
.title .left{
   border-right: 1.5px solid black;
   font-size: 1.3rem;
   height: 100%;
   width: 25%;
   max-width: 150px;

   display: flex;
   justify-content: center;
   align-items: center;
}
.title .right{
   border: none;
   font-size: 1rem;
   padding: 1rem;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
}
.text{
   height: 90%;
}
.text .top{
   border-bottom: 1.5px solid black;
   padding: .6rem;
   font-size: 1.3rem;
   text-align: center;
}
.text .bottom{
   font-size: 1rem;
   padding: 1rem;
   border: none;
   height: calc(100% - 3.2rem);
   width: 100%;
}

.background-container{
   background-color: rgba(0, 0, 0, .4);
   height: 100vh;
   width: 100%;
   z-index: 1;

   position: absolute;
   left: 0;
   top: 0;

   display: flex;
   justify-content: center;
   align-items: center;
}
.circular-spinner{
   border: 30px solid #FFF;
   border-top: 30px solid #4ba2e5;
   height: 30vw;
   width: 30vw;

   animation: circular-spinner 1s infinite linear;
   -webkit-animation: circular-spinner 1s infinite linear;

   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

@keyframes circular-spinner {
   0%{
      transform: rotate(0);
   }

   100%{
      transform: rotate(360deg);
   }
}

.message404{
   background-color: #9e9e9e;
   color: white;
   height: 100vh;
   font-size: 3rem;
   font-weight: 700;

   display: flex;
   justify-content: center;
   align-items: center;
}