.loginContainer{
   height: 100vh;
   width: 100vw;
   background: url(../../Assets/login_background.jpg);
}

.loginContainer .form{
   color: white;
   background-color: black;
   opacity: .6;

   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   
   width: 50%;
   height: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -o-transform: translate(-50%,-50%);

   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}

.loginContainer button{
   background-color: white;
   color: black;
   width: 50%;
   cursor: pointer;
   font-weight: 700;
}

.loginContainer .form *:not(:first-child){
   font-size: 1rem;
   padding: .6rem .9rem;
   
   border-radius: .7rem;
   -webkit-border-radius: .7rem;
   -moz-border-radius: .7rem;
   -ms-border-radius: .7rem;
   -o-border-radius: .7rem;
}
.loginContainer .form div{
   width: 70%; 

   display: flex;
   flex-direction: column;
}
.loginContainer .form div label{
   text-align: center;
   padding-bottom: .3rem;
   color: red;
}